**/.DS_Store
**/node_modules
**/dist
bgv3/.env.local
bgv3/.env.*.local
bgv3/npm-debug.log*
bgv3/yarn-debug.log*
bgv3/yarn-error.log*
bgv3/pnpm-debug.log*
**/.idea
**/.vscode
bgv3/*.suo
bgv3/*.ntvs*
bgv3/*.njsproj
bgv3/*.sln
bgv3/*.sw?

**/__pycache__
