*{
    margin: 0;
    padding: 0;
}

.container{
    background-color: #93ed7fc4;
    width: 650px;
    height: 415px;
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgba(111, 2, 66, 0.1);
    z-index: 100;
}
html, body {
    height: 100%; /* 确保父容器填满整个视口 */
    margin: 0; /* 去除默认边距 */
    position: relative; /* 相对定位 */
}

.container {
    position: absolute; /* 绝对定位 */
    top: 50%; /* 顶部对齐到中心 */
    left: 50%; /* 左侧对齐到中心 */
    transform: translate(-50%, -50%); /* 偏移自己的50%以真正居中 */
}

.form-box{
    position: absolute;
    top: -10%;
    left:5%;
    background-color: #87e69a;
    width: 320px;
    height: 500px;
    border-radius: 5px;
    box-shadow: 2px 0 10px rgba(0,0,0,0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    transition: 0.5s ease-in-out;

}
.register-box,.login-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.hidden{
    display: none;
    transition:0.5s;
}
h1{
    text-align: center;
    margin-bottom: 25px;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 5px;
}
input{
    background-color: transparent;
    width: 70%;
    color: #fff;
    border: none;
    border-bottom: 1px solid #3a3a3f;
    padding: 10px 0;
    text-indent: 10px;
    margin: 8px 0;
    font-size: 14px;
    letter-spacing: 2px;
}
input::placeholder{
    color: #fff;
}
input:focus{
    color: #e6e7eb;
    outline: none;
    border-bottom: 1px solid #ffffff;
    transition: 0.5s;
}
input:focus::placeholder{
    opacity: 0;
}
.form-box button{
    width: 70%;
    margin-top: 35px;
    background-color: #f6f6f6;
    outline: none;
    border-radius: 8px;
    padding: 13px;
    color: #474747;
    letter-spacing: 2px;
    border: none;
    cursor: pointer;

}
.form-box button:hover{
    background-color: #dadbde;
    color: #515158;
    transition: background-color 0.5s ease;
}
.con-box{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.container .left{
    left: -2%;
}
.container .right{
    right: -2%;
}
.con-box h2{
    color: #8e9aaf;
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 3px;
    text-align: center;
    margin-bottom: 4px;
}
.con-box p{
    font-size: 12px;
    letter-spacing: 2px;
    color: #77808f;
    text-align: center;
}
.con-box span{
    color: #515158;
}
.con-box img{
    width: 150px;
    height: 150px;
    opacity: 0.9;
    margin: 40px 0;
}
.con-box button{
    margin-top: 3%;
    background-color: #fff;
    color: #515158;
    border: 1px solid #515158;
    padding: 6px 10px;
    border-radius: 5px;
    letter-spacing: 1px;
    outline: none;
    cursor: pointer;
}
.con-box button:hover{
    background-color: #515158;
    color: #fff;
}
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

form input[type="text"],
form input[type="password"],
form button {
    width: 70%;
    margin: 8px 0;
    padding: 10px;
    border: none;
    border-bottom: 1px solid #3a3a3f;
    background-color: transparent;
    color: #fff;
    font-size: 14px;
    letter-spacing: 2px;
    text-indent: 10px;
}

form button {
    margin-top: 16px;
}